@using AnimalShop.Common
@using AnimalShop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item" style="margin-top: 5px; margin-right: 2px">
            <a class="nav-link text-dark btn-group-toggle btn-link btn-outline-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li>
        <li class="nav-item" style="margin-top: 5px">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Login", "Account", new { area = "Identity" }))">
                <button type="submit" class="nav-link btn btn-link btn-outline-secondary text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn-group-toggle btn-link btn-outline-secondary" style="margin-right: 5px" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark btn-group-toggle btn-link btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
